<md-toolbar>
  <div class="md-toolbar-tools">
    <span>Spotifynd</span>
    <span flex></span>
    <md-button ng-click="redirectToLogin()">
      Sign Up
    </md-button>
    <md-button ng-click="redirectToRoom()">
      Create Trip
    </md-button>
  </div>
</md-toolbar>

<md-card class='explore' flex>
  <md-card-content class='messageCardDiv'>
    <div layout="column"  >
      <md-card flex ng-repeat='trip in trips'>
        <md-card-content>
          <div class="row" >
            <img class="addActivityImage" src="{{trip.image}}" alt="">
            <p><strong>{{trip.name}}</strong></p>
            <p>{{trip.destination.join(', ')}}</p>
            <a href="{{trip.url}}" target="_blank">Website</a>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-card-content>
</md-card>




