<div layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Spotifynd</span>
      <span flex></span>
      <md-button ng-click="location.path('/login')">
        Sign Up
      </md-button>
    </div>
  </md-toolbar>
</div>
<div layout="row" flex-offset="30">
  <md-card>
    <md-card-header>
      <h3>Log in:</h3>
    </md-card-header>
    <md-card-content>
      <form ng-submit="login()">
        <md-input-container md-no-float='true'>
          <input type='text' ng-model='username' placeholder='username'>
        </md-input-container>
        <md-input-container md-no-float='true'>
          <input type='password' ng-model='password' placeholder='password'>
        </md-input-container>
        <md-button type="submit">Sign Up</md-button>
      </form>

      <h4> {{ errorr }} </h4>
      <p>Not a member? <a href="/#login">Signup here</a></p>
    </md-card-content>
  </md-card>
</div>
