    <md-card class='mapCard' flex>
      <md-card-header>
        <h5>map:</h5>
      </md-card-header>
      <md-card-content class='mapCardDiv'>
        <div layout="column">
        <md-card flex>
          <md-card-content>

          <div id="map_canvas">
              <ui-gmap-google-map center="map.center" draggable="true" zoom="map.zoom" options="options" >
              <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
              </ui-gmap-google-map>
          </div>
          </md-card-content>
          </md-card>
        </div>
      </md-card-content>
</md-card>