<div layout="column" flex ng-init="isLoggedIn()">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Spotifynd</span>
      <span flex></span>
    </div>
  </md-toolbar>
</div>
<div layout="row" flex-offset="30">
  <md-card>
    <md-card-header>
      <h3>Log in:</h3>
    </md-card-header>
    <md-card-content>
      <form ng-submit="signIn()">
        <md-input-container md-no-float='true'>
          <input type='text' ng-model='username' placeholder='username'>
        </md-input-container>
        <md-input-container md-no-float='true'>
          <input type='password' ng-model='password' placeholder='password'>
        </md-input-container>
        <md-button type="submit">Log In</md-button>
      </form>

      <h4> {{ errorr }} </h4>
      <p>Or Register with:</p>
      <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </md-card-content>
  </md-card>
</div>
<p></p>
<div layout="row" flex-offset="25">
  <md-card>
    <md-card-header>
      <h3>Sign up:</h3>
    </md-card-header>
    <md-card-content>
      <form ng-submit="signUp()">
        <md-input-container md-no-float='true'>
          <input type='text' ng-model='signUpUsername' placeholder='username'>
        </md-input-container>
        <md-input-container md-no-float='true'>
          <input type='password' ng-model='signUpPassword' placeholder='password'>
        </md-input-container>
        <md-input-container md-no-float='true'>
          <input type='password' placeholder='confirm password'>
        </md-input-container>
        <md-button type="submit" >Sign Up</md-button>
      </form>

      <h4> {{ signUpError }} </h4>
    </md-card-content>
    </md-card>
</div>