<div layout="column" flex>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Spotifynd</span>
      <span flex></span>
      <md-button ng-click="redirectLogin()">
        Login
      </md-button>
    </div>
  </md-toolbar>
</div>
<div layout="row" flex-offset="25">
  <md-card>
    <md-card-header>
      <h3>Sign up:</h3>
    </md-card-header>
    <md-card-content>
      <form ng-submit="signUp()">
        <md-input-container md-no-float='true'>
          <input type='text' ng-model='signUpUsername' placeholder='username'>
        </md-input-container>
        <md-input-container md-no-float='true'>
          <input type='password' ng-model='signUpPassword' placeholder='password'>
        </md-input-container>
        <md-input-container md-no-float='true'>
          <input type='password' placeholder='confirm password'>
        </md-input-container>
        <md-button type="submit" >Sign Up</md-button>
      </form>

      <h4> {{ signUpError }} </h4>
      <p>Already registered? <md-button type='text' ng-click='redirectLogin()'>Login Here</md-button></p>
    </md-card-content>
    </md-card>
</div>